<template>
  <div id="quiz-container">
    <h1 style="text-align:center">Trivia Game</h1>
    <hr class="divider" />
    <div>
  <h2 style="text-align:center" v-html="loading ? 'Loading...' : currentQuestion.question"></h2>
  <form v-if="currentQuestion">
     <button
      v-for="answer in currentQuestion.answer"
      :index="currentQuestion.key"
      :key="answer"
      v-html="answer"
      @click.prevent="handleButtonClick"
    ></button>
  </form>
  <hr class="divider" />
</div>
  </div>
</template>

<script>
  export default {
    name: 'Questions',
    props: ['api'],
    data() {
        return {
            questions: [],
            historyQuestions: [],
            loading: true,
            index: 0,
            score: 0,
            customApi: ""
        };
    },
    computed: {
        currentQuestion() {
            if (this.questions !== []) {
                return this.questions[this.index];
            }
            return null;
            
        }
    },
    methods: {
        async fetchQuestions () {
         this.customApi=this.api;
         let index = 0;   
         this.loading = true;
         let response = await fetch(this.customApi)
         let jsonResponse = await response.json();
         let data = jsonResponse.results.map((question) => {
             question.answer = [
                 question.correct_answer,
                 ...question.incorrect_answers,
             ];
            //shuffle the position of available answers
            let i = question.answer.length-1, temp, rand;
            while (0 !== i) {
            rand = Math.floor(Math.random() * i);
            i -= 1;
            temp = question.answer[i];
            question.answer[i] = question.answer[rand];
            question.answer[rand] = temp;
        }
        question.key = index;
        index++;
        return question;
         });
         this.questions = data;
         this.loading = false;

        },
        handleButtonClick: function(event) {
            let index = event.target.getAttribute("index");
            let rawUserAnswer = event.target.innerHTML;
            let userAnswer = rawUserAnswer.replace(/'/, "&#039;");
            this.questions[index].userAnswer = userAnswer;
            this.checkAnswer(event, index);

        },
        handleSelectClick() {
            console.log(this.api);
        },
            checkAnswer: function(event, index) {
            let question = this.questions[index];

            if (question.userAnswer) {
                if (this.index < this.questions.length -1) {
                setTimeout(
                    function() {
                    this.index += 1;
                    }.bind(this),
                    1000
                );
                } else {
                    //Add score +10 if last question is answered correctly before moving to results
                    if (question.userAnswer === question.correct_answer) {
                      this.score += 10;
                    }
                    //pushes score, api, and givenQuestions props to the result page
                    this.$router.push({
                    name: 'Results',
                        params: {
                            items: this.score,
                            api: this.customApi,
                            givenQuestions: this.historyQuestions,
                        }
                    });
                }
                //check if the answer is correct, update score, and push question and its properties to historyQuestions
                if (question.userAnswer === question.correct_answer) {
                this.historyQuestions.push(this.currentQuestion);
                this.score += 10;
                } else {
                //if the answer is wrong still push the question to historyQuestion array
                this.historyQuestions.push(this.currentQuestion);
                }
            }
        }
      
        },
        mounted() {
        console.log("from questions mounted")    
        this.fetchQuestions();
    }
  }
</script>

<style scoped>

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  font-size: 1.0rem;
  box-sizing: border-box;
  padding: 0.8rem;
  margin: 0.3rem;
  width: 37%;
  background-color: rgba(69, 191, 228, 0.651);
  border: none;
  border-radius: 0.4rem;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

button:hover:enabled {
  transform: scale(1.02);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

</style>
