<template>
     <div>
        <h1>Vue Trivia</h1>
        <label for="category" class="form-label"> Category: </label>
        <select class="form-select" v-model="selectedCategory">
          <option value="">-- Choose category --</option>
          <option v-for="category of categories.trivia_categories" :value="category.id" :key="category.id">
            {{ category.name }}
          </option>
        </select>
        <label for="category-select"> Choose a difficulty: </label>
        <select class="form-select" v-model="selectedDifficulty">
        <option value="">--Please choose a difficulty--</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
    </select>
     <label for="Amount"> Questions Amount: </label>
        <input type="number" id="amount" name="amount" step="1" value="5">
        <div>
          <button @click="handleSelectClick"> Start Quiz</button>
        </div>
    </div>
</template>

<script>



export default {
    name: 'Start',
    data() {
        return {
            categories: [],
            selectedCategory: "",
            selectedDifficulty:"",
            api: "https://opentdb.com/api.php?",
            index: 0,
        };
    },
    computed: {
        currentCategory() {
            if (this.categories !== []) {
                return this.categories.trivia_categories[this.index];
            }
            return null;
        }
    },
    methods: {
        async fetchCategoires() {
         return fetch("https://opentdb.com/api_category.php")
        .then(response => response.json())
        .then(data => this.categories = data )

    },
        handleSelectClick() {
            let amount = document.getElementById("amount").value;
            //checks to see if difficulty and amount is given
            if (!this.selectedDifficulty) {
               alert("Please select a difficulty")
            } else if (amount == 0) {
                alert("Please select amount of questions")
            }
            else {
                //sends api variable with selected values as prop to the questions page
                 console.log(this.api+this.selectedCategory)
                  this.$router.push({
                    name: 'Questions',
                        params: {
                            api: this.api+"amount="+amount+"&category="+this.selectedCategory+"&difficulty="+this.selectedDifficulty
                        }
                    });
            }
        },
  

    },
       mounted() {
        this.fetchCategoires();
}
}
</script>
