<template>
     <div>
        <h1>Results </h1>
        <p>Congratulations you completed the quiz!</p>
        <h2>Questions: </h2>
        <ul v-for="question of givenQuestions" :key="question.question">
            <li>{{question.question.replace(/'/, "&#039;")}}</li>
            <li>You answered: {{question.userAnswer}}</li> 
            <li>Correct answer is: {{question.correct_answer}}</li> 
        </ul>
        <p>Total score is: {{this.items}}</p>



        <button @click="onStartClick">Return to Start</button>
        <button @click="onReturnClick">Replay</button>
        <ul>
        </ul>
    </div>
</template>

<script>


export default {
    name: 'Results',
    props: ['items', 'api', 'givenQuestions'],
    methods: {

        onStartClick() {
            if (!this.error) {
                this.$router.push('/')
            }
        },
        onReturnClick() {
             if (!this.error) {
                  this.$router.push({
                    name: 'Questions',
                        params: {
                            api: this.api
                        }
                    });
            }
        }
    },
}
</script>